
<div #mapViewNode></div>
<div id="editArea" style = "display:none">
  <div id="attributeArea">
    <label for="input_firstName">First Name:</label>
    <input type="text" id="input_firstName" placeHolder="Enter first name"><br>
    <label for="input_lastName">Last Name:</label>
    <input type="text" id="input_lastName" placeHolder="Enter last name"><br>
    <label for="input_bloodGroup">Blood Group:</label>
    <input type="text" id="input_bloodGroup" placeHolder="Enter blood group"><br>
    <label for="input_contactNumber">Contact Number:</label>
    <input type="text" id="input_contactNumber" placeHolder="(+xx
xxx xxxx xxx | 00xx xxx xxxx xxx)"><br>
    <label for="input_emailAddress">Email Address:</label>
    <input required type="email" id="input_emailAddress" pattern="[^ @]*@[^ @]*"
      placeHolder="Enter email address"><br>
    <input type="button" value="Save" id="btnSave">
  </div>

  <div id="deleteArea" style="display: none">
    <input type="button" value="Delete" id="btnDelete">
  </div>
</div>